    /* fundo do site */
body {
    margin-left: 3rem;
    margin-right: 3rem;
    color: #13678a;
    background-color: #012030;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
    /* fundo do conteiner */
.container {
    background-color: #45c4b0;
    border-radius: 15px;
}
    /* organizar as palavras da tabela dentro de nav */
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 16px;
}

   /* deixar as letras sem aspecto de link */
a {
    color: #13678a;
    text-decoration: none;
    font-size: 22px;
}
    /* arruma o fundo da minha foto*/
.fundo {
    background-image: url(../image/fundo.webp);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding: 40px 20rem;
    border: solid 5px #9AEBA3;
    
}   
    /* arrumar a borda e imagem perfil */ 
.perfil {
    max-height: 260px;
    max-width: 250px;
    border-radius:50%;
    
}
    /* mesmo sendo texto ele funciona com imagem para centralizar */
.center {
    display: flex;
    justify-content:center;
    text-align: center;
    align-items: center;
    flex-direction: column;
 
}
    /* texto descrição sobre mim e box */
.description {
    display: flex;
    border: solid 5px;
    background-color: #45c4b060;
    border-radius: 10px;
    padding: 30px;
    color: #9AEBA3;
    height: auto;
    width: auto;
}
    /* texto sobre a minha biografia e a forma de organizar */
.description p {
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;  
}
    /* final do site */
.final {
    align-items: center;
    background-color: #45c4b060;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border: solid #9AEBA3 5px;
    border-radius: 10px;
    color: #9AEBA3;
}
    /* deixando espaço nas laterais de todo o site */
.Site {
    padding: 0px 50px;
}
    /* organização do footer */
.final {
    display: flex;
    justify-content:center;

}    
footer a {
    margin: 20px;
    text-align: center;
}
footer p {
    margin-top: 2px;
    color: #9AEBA390;
}
    /* cor da letra no nav */
nav a:hover {
    color:#012030;
}
footer p:hover {
    color: #012030;
}
    /* colocar limite de pixels para celular */
@media screen and (max-width: 850px) {
    body {
        display: flex;
        margin-left: 3rem;
        margin-right: 3rem;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 100vw;
    }
    .fundo img {
        height: 250px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .perfil {
        max-height: 150px;
        max-width: 150px;
        bottom: 5vw;
        transform: translateX(100%);
    }
    .description {
        padding: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .description p {
        font-size: 16px;
    }
    .final {
        font-size: 16px;
        margin-left: 0px;
        margin-right: 0px;
    }
}
